@using AstralForum.Models.Admin
@model List<UserRoleViewModel>

@{
	Layout = "../Shared/_Layout.cshtml";
}
@{
	var roleId = ViewBag.roleId;
}

<form method="post">
	<div class="card">
		<div class="card-header">
			<h3>Add or remove users from this role</h3>
		</div>
		<div class="card-body">
			@for (int i = 0; i < Model.Count; i++)
			{
				<div class="form-check m1">
					<input type="hidden" asp-for="@Model[i].UserId"></input>
					<input type="hidden" asp-for="@Model[i].UserName"></input>
					<input asp-for="@Model[i].IsSelected" class="form-chek-input"></input>
					<label class="form-chek-label">
						@Model[i].UserName 
					</label>
				</div>
			}
		</div>
		<div class="card-footer">
			<input type="submit" value="Update" class="btn btn-primary" style="width:auto"></input>
		</div>
	</div>
</form>
