@model AstralForum.Models.Admin.EditRoleViewModel

@{
	Layout = "../Shared/_Layout.cshtml";
}

<a asp-action="ListRoles" class="btn btn-primary">Back</a>
<h1>Edit Role</h1>
<form method="post" class="mt-3">
	<div class="form-group row">
		<h6>Role name: </h6>
		<div class="col-sm-10">
			<input asp-for="RoleName" class="form-control">
			<span asp-validation-for="RoleName " class="text-danger"></span>
		</div>
		<h6>Color: </h6>
		<div class="col-sm-10">
			<input type="color" asp-for="Color" class="form-control form-control-color" title="Choose your color">
		</div>
	</div>

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
	</div>
	<br><br>
	<div class="card">
		<div class="card-header">
			<h3>Users in this role</h3>
		</div>
		<div class="card-body">
			@if(Model.Users.Any())
			{
				foreach(var user in Model.Users)
				{
					<h5 class="card-title">@user</h5>
				}
			}
			else
			{
				<h5 class="card-title">None</h5>
			}
		</div>
		<div class="card-footer">
			<a asp-action="EditUsersInRole" asp-controller="admin" asp-route-id="@Model.Id" class="btn btn-primary" style="width:auto">Add or remove User</a>
		</div>
	</div>
</form>