@using AstralForum.Data.Entities
@using Microsoft.AspNetCore.Identity
@using AstralForum.Areas.Identity.Pages.Account
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager 
<style>
    .nav-link {
        border: none;
        background: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        color: #000;
    }
</style>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Notification" asp-action="GetUserNotifications">Notifications</a>
        </li>
    <form asp-controller="User" asp-action="Index" method="get">
        <input type="hidden" name="id" value="@UserManager.GetUserId(User)" />
        <button type="submit" class="nav-link text-dark">My Profile</button>
    </form>
    <li>
        <a class="nav-link text-dark" href="#logoutModal" data-bs-toggle="modal">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="#registerModal" data-bs-toggle="modal">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="#loginModal" data-bs-toggle="modal">Login</a>
    </li>
}
</ul>

<partial name="_LoginModalPartial" />
<partial name="_RegisterModalPartial" />
<partial name="_LogoutModalPartial" />

<script>
    $(document).ready(function () {
        var url = window.location.href;

        if(url.includes("authenticate")) {
            $("#loginModal").modal('show');
            $("#loginModalLabel").text("To continue, please log in");
        }
    });
</script>