namespace AstralForum.Views.Email
@{
    ViewData["Title"] = "AstralForum - Email Confirmation";
}



<div class="card">
    <div class="box">
        <div class="img">
            <img src="~/images/logo.png">
        </div>
        <h2>Thank You<br><span>Email Confirmed</span></h2>
        <p>
            You can now successfuly login. You have full access to our products and services.
        </p>
        <a class="btn btn-primary btn-block" href="/Areas/Identity/Account/Login">LOGIN</a>
    </div>
</div>