<div class="modal" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="logoutModalLabel">Are you sure you want to log out?</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				After you log out your session will be closed. 
				You will be asked for your credentials again if you want to log in or
				post threads, comments and perform other actions that require you to be logged in.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
					<button type="submit" class="btn btn-danger">Log out</button>
				</form>
			</div>
		</div>
	</div>
</div>